<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{240,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1800,1},{240,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish1/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{218,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1800,243},{218,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish1/tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{240,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1800,1},{240,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{376,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{860,316},{376,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{394,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,399},{394,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish11/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{394,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,795},{394,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish12/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{394,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,1191},{394,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish2/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{430,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{390,1418},{430,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{468,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{390,1},{468,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{430,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{822,1418},{430,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{468,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{860,1},{468,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{468,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1330,1},{468,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{448,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1638,463},{448,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish5/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{468,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{390,316},{468,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{448,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1638,913},{448,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{360,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{390,1005},{360,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{356,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1557,1363},{356,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{368,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1249,316},{368,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{364,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{779,694},{364,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{360,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1168,1056},{360,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{396,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{396,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,5}</string>
                <key>spriteSize</key>
                <string>{372,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{390,631},{372,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{356,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{779,1060},{356,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{368,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1249,686},{368,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allFish-5.png</string>
            <key>size</key>
            <string>{1969,1722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67040fcb52e33b34cea40956ff5f403c:ab7a7827a4f1249771ed6d64fab5d5a1:9e762b0f30dffcef799f8c5ca9d63b1a$</string>
            <key>textureFileName</key>
            <string>allFish-5.png</string>
        </dict>
    </dict>
</plist>
