<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{364,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1681,493},{364,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10/tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{398,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1642,882},{398,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,400},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{421,1},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11/tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{398,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1642,1271},{398,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,799},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{421,400},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12/tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,5}</string>
                <key>spriteSize</key>
                <string>{398,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1540,1660},{398,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{841,1},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1681,1},{490,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish2/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,1597},{450,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish2/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{841,799},{490,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{308,1597},{450,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish3/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{841,1108},{490,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{615,1597},{450,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish3/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1333,799},{490,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{922,1417},{490,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1231,1417},{490,307}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish7/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,1198},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{841,400},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1261,1},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{421,799},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{421,1198},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,397}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1261,400},{418,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allFish-0.png</string>
            <key>size</key>
            <string>{2046,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67040fcb52e33b34cea40956ff5f403c:ab7a7827a4f1249771ed6d64fab5d5a1:9e762b0f30dffcef799f8c5ca9d63b1a$</string>
            <key>textureFileName</key>
            <string>allFish-0.png</string>
        </dict>
    </dict>
</plist>
