<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{244,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish1/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{244,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{244,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish10/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{360,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{779,619},{360,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish11/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{396,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{390,1351},{396,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{360,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1168,619},{360,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish12/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{396,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{788,1351},{396,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish12/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{356,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,619},{356,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish12/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{368,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{779,981},{368,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish2/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{448,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{699,1},{448,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{448,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1149,1},{448,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{448,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1599,1},{448,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{470,311}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,306},{470,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{470,311}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{473,306},{470,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{470,311}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{945,306},{470,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{247,1},{450,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{470,311}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1417,306},{470,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{364,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,977},{364,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish7/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,5}</string>
                <key>spriteSize</key>
                <string>{360,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1557,619},{360,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish7/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{396,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1186,1355},{396,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{356,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{390,619},{356,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish7/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{368,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1168,981},{368,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{364,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{390,977},{364,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish8/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,5}</string>
                <key>spriteSize</key>
                <string>{396,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1584,1355},{396,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,5}</string>
                <key>spriteSize</key>
                <string>{372,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1557,981},{372,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{376,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,1343},{376,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allFish-4.png</string>
            <key>size</key>
            <string>{2048,1743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67040fcb52e33b34cea40956ff5f403c:ab7a7827a4f1249771ed6d64fab5d5a1:9e762b0f30dffcef799f8c5ca9d63b1a$</string>
            <key>textureFileName</key>
            <string>allFish-4.png</string>
        </dict>
    </dict>
</plist>
