<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish10/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,5}</string>
                <key>spriteSize</key>
                <string>{372,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1403,1178},{372,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,5}</string>
                <key>spriteSize</key>
                <string>{356,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{390,1321},{356,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish10/tile010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,5}</string>
                <key>spriteSize</key>
                <string>{368,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,1317},{368,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish11/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{390,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1437,397},{390,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish12/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{390,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1415,789},{390,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{793,932},{450,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish3/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{779,1384},{450,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{985,1},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{493,625},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{963,615},{450,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{985,308},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{430,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1098,920},{430,303}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish5/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,310},{490,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{493,1},{490,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{490,307}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,619},{490,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{468,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{493,310},{468,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{394,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,928},{394,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{394,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1437,1},{394,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish9/tile011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,5}</string>
                <key>spriteSize</key>
                <string>{394,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{397,932},{394,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allFish-1.png</string>
            <key>size</key>
            <string>{1825,1688}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67040fcb52e33b34cea40956ff5f403c:ab7a7827a4f1249771ed6d64fab5d5a1:9e762b0f30dffcef799f8c5ca9d63b1a$</string>
            <key>textureFileName</key>
            <string>allFish-1.png</string>
        </dict>
    </dict>
</plist>
