<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish1/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{252,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1637,308},{252,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish11/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,5}</string>
                <key>spriteSize</key>
                <string>{364,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{927,705},{364,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish11/tile004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,5}</string>
                <key>spriteSize</key>
                <string>{376,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1259,308},{376,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish2/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{428,301}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1293,697},{428,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish2/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{472,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,1},{472,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish3/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{428,301}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1596,697},{428,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish3/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{472,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,316},{472,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish4/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{428,301}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{865,1094},{428,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish4/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{472,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{475,1},{472,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{949,1},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{428,301}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1168,1127},{428,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{472,313}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,631},{472,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1401,1},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish5/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{430,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1,1335},{430,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{475,705},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,9}</string>
                <key>spriteSize</key>
                <string>{428,301}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{1598,1127},{428,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fish6/tile008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,6}</string>
                <key>spriteSize</key>
                <string>{450,305}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{393,1012},{450,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish6/tile009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,9}</string>
                <key>spriteSize</key>
                <string>{430,303}</string>
                <key>spriteSourceSize</key>
                <string>{498,327}</string>
                <key>textureRect</key>
                <string>{{433,1319},{430,303}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish7/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{390,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{475,316},{390,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish8/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{390,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{1,946},{390,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fish9/tile001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,5}</string>
                <key>spriteSize</key>
                <string>{390,387}</string>
                <key>spriteSourceSize</key>
                <string>{418,397}</string>
                <key>textureRect</key>
                <string>{{867,316},{390,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allFish-2.png</string>
            <key>size</key>
            <string>{1900,1639}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67040fcb52e33b34cea40956ff5f403c:ab7a7827a4f1249771ed6d64fab5d5a1:9e762b0f30dffcef799f8c5ca9d63b1a$</string>
            <key>textureFileName</key>
            <string>allFish-2.png</string>
        </dict>
    </dict>
</plist>
